[submodule "CocosBuilder/libs/ssziparchive"]
	path = CocosBuilder/libs/ssziparchive
	url = https://github.com/vlidholt/ssziparchive
[submodule "CocosBuilder/libs/Fragaria"]
	path = CocosBuilder/libs/Fragaria
	url = https://github.com/vlidholt/Fragaria.git
[submodule "Examples/CocosBuilderExample/libs/CCBReader"]
	path = Examples/CocosBuilderExample/libs/CCBReader
	url = https://github.com/wangxiaobo-zenjoy/CCBReader.git
[submodule "CocosBuilder/libs/cocos2d-x"]
	path = CocosBuilder/libs/cocos2d-x
	url = git@biglime.github.com:BigLime/cocos2d-x.git
